html {
  height: 100vh;
}

body {
  font-family: Roboto, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #202124 !important;
  background-color: #ede7f6;
  
}

label {
  font-family: Roboto, Arial, sans-serif !important;
  font-size: px !important;
  letter-spacing: 0.1px !important;
  line-height: 24px !important;
  color: #202124 !important;
  font-weight: 400 !important;
}

nav {
  background-color: #1a237e;
  margin: -9px -8px -9px -8px;
  padding: 5px 0px 5px 0px;
  width: 100%
  height: 60px;
  border-bottom: 2px solid #ccccc;
}

nav ul a {
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 40px;
  text-align: right;
  cursor: pointer;
  background-color: #1a237e;
  text-decoration: none;
}

nav ul li {
  margin-top: -50px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

header .header-main .header {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 2%;
  margin-top: 18px;
}

main  {
  text-align: center;
}

main .main-content {
  padding: 50px 50px 0px 50px;
}

.login-head {
  font-size: 2.3rem;
  font-weight: 430;
  color: #1a237e;
}

form {
  margin: auto;
  width: 30%;
  height: 210px;
  background-color: #ffffff;
  box-shadow: 3px 0px 3px 0px rgba(131, 131, 131, 0.19);
  border-radius: 5px 5px 5px 5px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 0px;
  margin: 10px 0px; 
}
.email{
  position: relative;
  margin: auto;
}
.hello2{
  position: absolute;
  left: 0%;
  top:35px;
  font-size: 16px;
  color:#cecece;
  font-weight: 200;
  transition: all 0.5s ease;
  pointer-events: none;
}
.password{
  position:relative;
  margin:auto;
}
.hello{
  position: absolute;
  left: 0%;
  top: 35px;
  font-size: 16px;
  font-weight: 200;
  transition: all 0.5s ease;
  pointer-events: none;
}
input[type=text]:focus~.hello2{
display:block;
color:black;
top: 0px;
font-size: 14px;
}
input[type=password]:focus~.hello{
  display:block;
  color:black;
  top: 0px;
  font-size: 14px;
  }
input[type=text]:focus~.enter {
  background-color: #0f1f7a;
  position: absolute;
  content:'';
  height:2px;
  right:39%;
  top:70px;
  width:20.12%;
  transform: scaleX(5)
}
input[type=password]:focus~.enter2{
  background-color: #0f1f7a;
  position: absolute;
  content:'';
  height:2px;
  right:39%;
  top:70px;
  width:20.12%;
  transform: scaleX(5)
}
.enter2{
  transition: all ease 0.5s;
  width: 10.1%;
  transform: scaleX(1)
}
.enter{
  transition: all ease 0.5s;
  width: 10.1%;
  transform: scaleX(1)
}
textarea, input{
  outline:none;
  border:0;
  border-bottom: 1px solid #cecece;
  height: 40px;
  width: 50%;
}
input:focus{
  content
}
.login-body {
  margin: auto;
}

.Login-Button {
  background-color: #1a237e; /* blue */
  border: none;
  color: white;
  padding: 13px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
}

.Login-Button:hover {
  opacity: 0.8;
}

/* On screens that are 600px wide or less, make the login button and form responsive */
@media screen and (max-width: 600px) {
  .Login-Button {
    width: 80%;
  }
form{
  width:80%;
}
}

@media screen and (max-width:720px){
  form{
    width:80%;
  }
}












